* {
    box-sizing: border-box;

}
body {
    background-color: white;
    max-width: 100%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
}
header {
    max-width: 940px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
section {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
footer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #111111;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: x-small;
    clear: both;
}
h1.no-span {
    display: table;
    white-space: nowrap;
}
h1.no-span:before, h1.no-span:after {
    border-top: 2px solid black;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
}
h1.no-span:before {
    right: 1.5%;
}
h1.no-span:after {
    left: 1.5%;
}
.container {
    background-color: white;
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.row {
    clear:both
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
    position: relative;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666669%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75.00000002%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333335%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666668%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25.00000001%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333335%;
}
img {
    width:100%;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}

a:link { color: snow; text-decoration: none}
a:visited { color: snow; text-decoration: none}
a:active { color: snow; text-decoration: none}
a:hover { text-decoration: none}

#thisPage{
    font-weight: bold;
    background-color: black;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-inline {
    list-style: none;
    color: white;
    font-size: small;
    margin: 0%;
    padding: 0%;
}
.list-inline > li {
    display: inline-block;
    width: 25%;
    background-color: #222222;
    text-align: center;
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
    border-left-style: outset;
    border-left-width: 1px;
    border-left-color: #333333;
}
li.list-hover:hover {
    font-weight:bold;
    color: white;
    background-color: red;
}

textarea {
    width: 100%;
}
.txtred{
    color: red;
}
.txtgreen{
    color: green;
}
.txtblue{
    color: blue;
}
.newsHome{
    border-color: #111111;
    border-style: solid;
    border-width: medium;
    padding: 10px;
    margin: 20px;
}

p.small {
    line-height: 70%;
    font-size: xx-small;
}
p.big {
    font-size: medium;
    color: #111111;
}
.product{
    margin: 2%;

}
.product img{
    height: 180px;
}
.products {
    background-color: white;
    width: 100%;
    margin-left: 6%;
}
#h3order{
    text-align: center;
    border-color: #111111;
    border-style: solid;
    border-width: thin;
    margin: 20px;
}
.order{
    margin: 25px;
}
.btn{
    border-color: #999999;
    border-width: thin;
    color: #111111;
    font-weight: bold;
    font-size: medium;
    width: 155px;
    height: 30px;
    border-radius: 3px;

}
#submitBtn{
    float: right;
    margin-bottom: 10px;
    margin-right: 25px;
}
#confirmBtn{
    margin-left: 5%;
    padding-right: 25%;
    padding-left: 25%;
    padding-top: 3px;
    padding-bottom: 3px;
}
.confirm{
    padding: 5%;
}
.reviewBtn{
    margin: 5%;
}
.reviewOrder{

}
#orderList{
    font-size: small;
}
.title{
    padding-left: 20px;
}
#listBestSeller{
    font-size: small;
}
#listBestSeller li:hover{
    font-weight: bold;
}
.sidebar{
    padding: 10px;
}
#logo{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.orderButton{
    background-color: #111111;
}

.info{
    font-size: medium;
    padding: 8%;
}
.info a{
    color: green;
}
.info a:hover{
    color: red;
}
.info p{
    font-weight: bold;
}
.people{
    text-align: left;
}
.photo {
    margin: 20px;
    position: relative;
    width: 180px;
    height: 130px;
    float: left;
}
.photo img {
    background: #fff;
    border: solid 1px #ccc;
    padding: 4px;
}
.photo a {
    text-decoration: none;
}
.sample1 span {
    width: 28px;
    height: 21px;
    display: block;
    position: absolute;
    top: -12px;
    left: 90px;
    background: url(pin.png) no-repeat;
}
#orderDialog{
    width: 240px;
    height: 270px;
}
#checkoutDialog{
    width: 240px;
    height: 200px;
}
#detailDialog{
    width: 200px;
    height: 600px;
}
.social{
    width: 24px;
    height: 24px;
}
#login{
    padding: 5px;
}
#bestSeller{
    padding: 5%;
}
#bestSeller img{
    width: 200px;
    height: 200px;
    padding: 5%;
}

.block-1 {
	width: 120px;
	height: 120px;
	margin: 20px;
	background: #0E9F98;
}
.block-2 {
	width: 120px;
	height: 120px;
	margin: 20px;
	background: #04BF9D;
}
.block-3 {
	width: 120px;
	height: 120px;
	margin: 20px;
	background: #F4E85C;
}
